.idea
core/__pycache__/
core/handlers/__pycache__/
core/keyboards/__pycache__/
core/news_sources/__pycache__/
core/utils/__pycache__/
core/middlewares/__pycache__/
core/tests/__pycache__/
.env
iz_news.db
iz_news_test.db